.container-fluid {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

.container {
  max-width: 980px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.text h1 {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
}

.img img {
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
}
