<mat-card class="card">
  <div class="poke-container">
    <img [alt]="pokemon?.pokemon?.name"
         class="img"
         [src]="pokemon?.pokemon?.image"
         (error)="pokemon.pokemon.image = 'assets/imgs/sem-foto.webp'"
    >
    <div class="data-area">
      <h2 class="text ellipsis">{{pokemon?.pokemon?.name}}</h2>
      <p class="price">{{pokemon?.pokemon?.price | currency: 'BRL' : 'symbol'}}</p>
      <button (click)="onAddToCart()" class="button" mat-flat-button color="primary">
        <mat-icon>add_shopping_cart</mat-icon>
        Comprar
      </button>
    </div>
  </div>
</mat-card>
